@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full w-full;
}

@layer base {
  .site-container {
    @apply max-w-[1400px] mx-auto md:px-20 sm:px-10 px-6 w-full;
  }
}
